.sidebar ul {
  margin-top: 1.25rem;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 12px 0;
  padding-left: 1rem;
}

.sidebar ul li a {
  font-size: 1rem;
}

.sidebar .selected {
  background: rgba(8, 110, 167, 0.37);
  font-weight: bold;
}
