.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 100%;
}

.container > div {
  height: 100%;
  min-height: 100vh;
}

.container > div:last-child {
  grid-column: span 4 / 7;
}

.container > div:not(:last-child) {
  border-right: 1px solid #ccc;
}
